---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    color: #424242;
}

strong {
    font-weight: 600;
}

.site-title {
    @include relative-font-size(1.8);
    font-weight: 200;

    &,
    &:visited {
        color: #8694B5;
    }
}

.post-wrapper {
    text-align: center;
}

.post-list-heading {
    font-weight: 200;
}

.post-meta {
    font-weight: 200;
}

.post-link {
    @include relative-font-size(1.2);
} 

.page-link {
    font-weight: 200;

    &,
    &:visited {
        color: #516593;
    }
}

.post-title,
.post-content h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
}

.footer-copyright {
    @include relative-font-size(0.87);
    color: $grey-color;
    text-align: center;
}

.rss-subscribe {
    font-weight: 200;
    @include relative-font-size(0.87);
}

a {
    & {
        color: #5366B2;
    }

    &:visited {
        color: #A6B4D5;
    }

    &:hover {
        color: #7386F2;
    }
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.svg-icon {
    padding-right: 0px;
}

.rounded_text_label {
	border-radius:3px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	
	padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
	display: inline-block;
	text-align:center;
    font-weight: bold;
    color: #EEEEEE;
    @include relative-font-size(0.8);
}

.english_text_label {
    @extend .rounded_text_label;
	background-color:#32618a;
}

.english_text_label::before{
    content: "ENGLISH";
}

.exercise_text_label {
    @extend .rounded_text_label;
	background-color:#357452;
}

.exercise_text_label::before{
    content: "EXERCISE";
}

.reading_text_label {
    @extend .rounded_text_label;
	background-color:#b8b52d;
}

.reading_text_label::before{
    content: "READING";
}

.study_text_label {
    @extend .rounded_text_label;
	background-color:#cc746a;
}

.study_text_label::before{
    content: "STUDY";
}

.art_text_label {
    @extend .rounded_text_label;
	background-color:#914e8c;
}

.art_text_label::before{
    content: "ART";
}

.writing_text_label {
    @extend .rounded_text_label;
	background-color:#262626;
}

.writing_text_label::before{
    content: "WRITING";
}